.boxselector-dropdown-button, a.boxselector-icon {
	display: inline-block !important; /* TODO work out what was up here and remove the important */
}

.boxselector-control .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.boxselector-control .icon {
	width: 60%;
	height: 60%;
	border-style: dashed;
	border-radius: 5px;
	border-width: 1px;
}

.boxselector-control .enabled .icon {
	background-color: #38f;
}

.boxselector-dropdown {
    position: absolute;
}

.boxselector-dropdown-expanded {
	display: visible; 
}

.boxselector-dropdown-hidden {
	display: none; 
}
