.box-selector-control .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box-selector-control .icon {
	width: 60%;
	height: 60%;
	border-style: dashed;
	border-radius: 5px;
	border-width: 1px;
}

.box-selector-control .enabled .icon {
	background-color: #38f;
}
